# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# build / cmake
/build/
/**/build/
CMakeFiles/
CMakeCache.txt
*.cmake
*.ninja
.ninja_*
compile_commands.json
Makefile
Testing/

# binary/object
*.o
*.obj
*.a
*.so
*.dll
*.dylib
*.exe
*.app
*.out
*.log